node_modules/
auth_info_baileys/
temp/
youtube-cookies.txt
*.cookies.txt
database.json
auth_*.json
export-auth.js
upload-auth.js
send-auth.ps1
legacy/
tmp.jpg
fileping.txt
antilink.json
welcome.json
.auth_invalidated
.restart-msg.json
start.bat
